.background {
  viewport-fill: red;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+10;
  fill: white;
}

#heartRate {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  x:100%-60;
  y:100%-10;
  fill: white;
}

#stepCount {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  x:30;
  y:30;
  fill: white;
}

#batteryPercent {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  x:100%-60;
  y:30;
  fill: white;
}

#calories {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  x:30;
  y:100%-10;
  fill: white;
}

#date{
  font-size: 30;
  font-family: System-Bold;
  text-length: 64;
  text-anchor: middle;
  display-align: center;
  x:50%;
  y:50%+50;
  fill: white;
} 

